---
layout: default
title: Blog
navigation_weight: 3
---

<section class="container p-3">
  <div class="row">
    <div class="col-xl-8">
      <a href="#"><img class="img-fluid rounded" src="http://fillmurray.com/750/320" alt=""></a>
    </div>
    <div class="col-xl-4 align-self-top">
      <p class="text-uppercase"> Featured Article</p>
      <header>
        <a href="#">
          <h3>A Prescription From the Surgeon General: Magnify Hope</h3>
        </a>
        <p>As lawmakers scrambled to shore up votes from wavering colleagues, the deal-making centered on changes that would widen the bill’s divide between the rich and the middle class.</p>
        <p><span>11.6</span> | <a href="#"> Jamee Kugler</a></p>
      </header>
    </div>
  </div>
  <div class="row blog feed mb-3">
    <div class="col-xl-8">
      <!-- article rack -->

        <div class="row mb-3">
          <!-- is there any good way to do a loop, where it generates a row, for every two articles loaded? -->
          {% for post in site.posts  %}
            <div class="col-xl-6 mb-3">
              <div class="card">
                <a href="{{post.url}}">
                  <img class="card-img-top" src="{{post.img_preview}}" alt="Card image cap" style="height: 180px;">
                </a>
                <div class="card-body">
                  <a href="{{post.url}}">
                    <p class="card-text">How to Break Down an Opposing Defense in 5 Easy Steps for Healthcare</p>
                  </a>
                  <hr>
                  <p><span>{{post.date | date: "%m.%d.%y" }}</span> | <a href="#"> {{post.author}}</a></p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      <!-- load button -->
      <div class="row">
       <div class="col align-self-center text-center">
         <a href="#" class="btn btn-primary btn-lg">Load More Posts</a>
       </div>
     </div>
    </div>

    <aside class="col-xl-4">
      <div class="row mb-3">
        <h4 class="text-uppercase">Search Our Blog</h4>
        <form class="form-inline">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <span class="input-group-btn">
              <button class="btn btn-primary " type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
      <div class="row">
        <h4 class="text-uppercase">Explore Our Categories</h4>
        <ul>
          {% for category in site.categories %}
          <li><a href="/category/{{ category[0] }}/" style="text-decoration: none;">{{ category[0] | Capitalize }}</a></li>
          {% endfor %}
      </div>
    </aside>
  </div>
</section>
